.preview {
    background-image: url("../../images/landing-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.preview__title {
    font-weight: 700;
    font-size: 96px;
    width: 650px;
    color: white;
}

.preview__container {
    max-width: 1550px;
    margin: auto;
    padding: 8% 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.preview__button {
    padding: 25px 85px;
    background-color: #FA4D16;
    color: white;
    font-weight: 700;
    font-size: 32px;
    margin-top: 55px;
    border: 0;
    border-radius: 29px;
    transition: all .3s;
}

.preview__button:hover {
    box-shadow: 0.5px 7px 27px rgb(255, 129, 59);
    background-color: #fd5b27;
}

@media (max-width: 1600px) {
    .preview__title {
        font-size: 72px;
        width: 480px;
    }
}

@media (max-width: 1250px) {
   .preview {
       background-position: 50% 100%;
   }
}

@media (max-width: 1000px) {
    .preview__button {
        padding: 25px 85px;
        font-size: 35px;
    }
    .preview__container {
        padding: 14% 40px;
    }

}

@media (max-width: 600px) {
    .preview {
        background-image: url("../../images/dog-bg-mobile.jpeg");
    }
    .preview__title {
        font-size: 48px;
        text-align: center;
        width: 315px;
    }
    .preview__button {
        padding: 20px 80px;
        font-size: 20px;
    }
    .preview__container {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 1000px) and (max-height: 500px) {
    .preview__container {
        padding: 4% 40px;
    }
    .preview__title {
        font-size: 44px;
        width: 290px;
    }
    .preview__button {
        padding: 18px 70px;
        font-size: 20px;
    }
    .preview {
        background-position: 50% 50%;
    }
}
